APP_NAME=Tnila
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://example.com

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=tnila
DB_USERNAME=
DB_PASSWORD=

CACHE_STORE=redis
SESSION_DRIVER=database
SESSION_LIFETIME=120
QUEUE_CONNECTION=redis

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="Tnila"

FILESYSTEM_DISK=public

VITE_APP_NAME="Tnila"

SENTRY_LARAVEL_DSN=
PULSE_ENABLED=true
